.thumbnail img {
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.delete-form{
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}

.star-style{
    color: #FFDD33;
    font-weight: 200;
}

.star-filled{
    font-weight: 900;
}